<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<script type="text/javascript" src="../static/scripts/bootstrap.js"></script>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
<script type="text/javascript" src="../static/scripts/jquery.js"></script>
<script type="text/javascript" src="../static/scripts/vJavaScript.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/font-awesome-master/css/font-awesome.css">

<script>
	$(document).ready(function(e) {
        $("#b1").click(function(e) {
            $("#dd").slideToggle("linear");
        });
    });
</script>


    <style>

		#nb{
			border-bottom:1px solid #000;
			}

		#bb{
			height:700px;
			padding:10px;
			overflow:auto;
			box-sizing:border-box;
			}

		#b2{

			margin-top:100px;
			width:150px;
			border-radius:15px 15px 15px 15px;
			text-decoration:none;
			}
		#b3{
			width:150px;
			margin-top:100px;
			border-radius:15px 15px 15px 15px;
			text-decoration:none;
			}

	#p1{
		height:auto;
		width:550px;
		background-size:100% 100%;
		}
	#p2{
		height:auto;
		width:550px;
		background-size:100% 100%;
		}

	</style>
</head>

<body>
	    <nav class="navbar bg-dark navbar-expand-md navbar-dark" id="nb">
    <a class="navbar-brand text-warning">Acadamics</a>
    	<button class="navbar-toggler" id="b1">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="dd">
        	<ul class="navbar text-center navbar-nav mr-auto">
               <li><a class="nav-link" href="/" style="font-size:18px;">Home</a></li>
               <li><a class="nav-link" href="login" style="font-size:18px;">Login</a></li>
               <li><a class="nav-link" href="about" style="font-size:18px;">About</a></li>
               <li><a class="nav-link" href="#" style="font-size:18px;">Contact us</a></li>
      		</ul>
            <form class="form-inline">
            	<input type="search" class="form-control"/>
                <input type="submit" value="Search" class="btn btn-outline-light ml-1"/>
            </form>
        </div>
    </nav>

        <div class="container" style="margin-top:100px;">
            <div class="row">
                <div class="col col-sm-6 col-lg-6 col-md-6">
            	    <img  id="p1" style="border-radius:300px 300px 300px 300px;" src="../static/images/vikram.jpg" class="img-fluid img-thumbnail"/>
                    <h4 style="margin-left:120px; margin-top:20px; margin-bottom:30px;">Developer:-&nbsp; <i style="color:red;">Vikram Singh</i></h4>
                </div>

                <div class="col col-sm-6 col-lg-6 col-md-6">
            	    <img id="p2" style="border-radius:300px 300px 300px 300px;" src="../static/images/shagun.jpg" class="img-fluid img-thumbnail"/>
                    <h4 style="margin-left:120px; margin-top:20px; margin-bottom:30px;">Developer:-&nbsp; <i style="color:red;">Shagun Dhiman</i></h4>
                </div>
            </div>
        </div>

   <div style="height:400px" class="container-fluid bg-white text-center">
   		<div class="row">
        	<div class="col col-md-4">
            	</br>
                </br>
            	<h2>Copyright</h2>
                </br>
                </br>
                </br>
                <h3>Vikram Singh</h3>
                <p>&copy;2020 Privacy policy</p>
                <h3>
                <span class="fa fa-facebook">&nbsp;&nbsp;</span>
				<span class="fa fa-instagram">&nbsp;&nbsp;</span>
                <span class="fa fa-wifi">&nbsp;&nbsp;</span>
                <span class="fa fa-linkedin">&nbsp;&nbsp;</span>
				<span class="fa fa-whatsapp">&nbsp;&nbsp;</span>
                <h3>
            </div>

            <div style="text-align:justify;" class="col col-md-4">
            	</br>
                </br>
            	<h2>About Us</h2>
                </br>
                </br>
                </br>
                <p style="text-align:justifys;">
                	Upon the subject of education … I can only say that I view it as the most important subject which we as a people may be engaged in.Knowledge is power. Information is liberating. Education is the premise of progress, in every society, in every family.
                </p>
            </div>

            <div  class="col col-md-4">
            	</br>
                </br>
                <h2>Contact Us</h2>
                </br>
                </br>
                </br>
                <span style="font-size:2rem;" class="fa fa-mobile-phone">&nbsp;&nbsp;</span><span style="margin-bottom:5px;">phone  +91 09876544321</span>
                <p></p>
                <span style="font-size:2rem;" class="fa fa-tv">&nbsp;&nbsp;</span><span style="margin-bottom:5px;">www.xyz@vikram.com</span>
                <p></p>
                <span style="font-size:2rem;" class="fa fa-home">&nbsp;&nbsp;</span><span style="margin-bottom:5px;">Pathankot (Punjab)</span>

            </div>
        </div>
   </div>
    </body>
</html>
