{% extends 'AdminHomeTemp.html' %}

{% block m1 %}
<h1>Change Password</h1>
<form class="was-validated form-control" method="post" action="admin_change_password">
    <div>
        Old Password<input class="form-control" required type="password" name="T1" />
        <div class="valid-feedback">.Valid field</div>
        <div class="invalid-feedback">Please fill this field</div>
    </div>
    <div>
        New Password<input class="form-control" required type="password" name="T2" />
        <div class="valid-feedback">.Valid field</div>
        <div class="invalid-feedback">Please fill this field</div>
    </div>
    <div>
    Confirm Password<input class="form-control" required type="password" name="T3" />
    <div class="valid-feedback">.Valid field</div>
    <div class="invalid-feedback">Please fill this field</div>
    </div>
    <p><input class="btn btn-success form-control" type="submit" name="B1" value="Change" /> </p>
</form>

{% if msg %}
<h2>{{msg}}</h2>
{% endif %}
{% endblock %}