{% extends 'AdminHomeTemp.html' %}

{% block m1 %}
<form class="form-group">
<table class="table">
    <tr>
        <h1 style="text-shadow:2px 2px 2px green; word-spacing:2px; letter-spacing:3px;" class="text-primary form-group mt-2"><center>Admin Home</center></h1>
    </tr>

    <tr>
        <h3><a style="text-decoration:none;" class="text-white btn form-group form-control bg-success" href="adminprofile">Admin Profile</a></h3>
    </tr>
    <tr>
        <h3><a style="text-decoration:none;" class="text-white btn form-group form-control bg-success" href="student_data">Student Records</a></h3>
    </tr>
    <tr>
        <h3><a style="text-decoration:none;" class="text-white btn form-group form-control bg-success" href="student_record">Fees Data</a></h3>
    </tr>
    <tr>
        <h3><a style="text-decoration:none;" class="text-white btn form-group form-control bg-success" href="admin_change_password">Change Password</a></h3>
    </tr>
    <tr>
        <h3><a style="text-decoration:none;" class="text-white btn form-group form-control bg-success" href="logout">Logout</a></h3>
    </tr>
</table>
    </form>

{% endblock %}