{% extends 'LoginTemp.html' %}

{% block m1 %}
		<p></p>
		<h1 style="color:#000; text-shadow:2px 2px 2px black; word-spacing:2px; letter-spacing:3px;"><center>Login Here</center></h1>
		<form class="was-validated" name="form1" method="post" action="login">
        <div class="form-group">
			<label for="User ID">User ID</label>
			<input class="form-control" required type="text" name="T1" id="T1" placeholder="Enter Your User Id"/>
            <div class="valid-feedback">.Valid field</div>
            <div class="invalid-feedback">Please fill this field</div>
		</div>
        <div class="form-group">
            <label for="User Id">Password</label>
			<input class="form-control" required type="text" name="T2" id="T2" placeholder="Enter Your Password"/>
            <div class="valid-feedback">.Valid field</div>
            <div class="invalid-feedback">Please fill this field</div>
          </div>
          <input class="btn btn-success form-control mt-2" type="submit" name="B1" value="Login"/>
			<p class="mt-2"><a href="#">Forgot Password</a></p>
			<p class="mt-2"><a href="#">Forgot User ID</a></p>
		</form>
{% if msg %}
	<h3 style="color:red;">{{msg}}</h3>
{% endif %}

{% endblock %}