{% extends 'AdminHomeTemp.html' %}

{% block m1 %}
    <table class="table">
            <tr>
                <th><form class="form-group text-center" method="post" action="student_data1"><input style="width:100px;" class="btn btn-success form-group" type="submit" name="B1" value="CSE"/></form></th>
                <th><form class="form-group text-center" method="post" action="student_data2"><input style="width:100px;" class="btn btn-success form-group" type="submit" name="B2" value="IT"/></form></th>
                <th><form class="form-group text-center" method="post" action="student_data3"><input style="width:100px;" class="btn btn-success form-group" type="submit" name="B3" value="Mech."/></form></th>
                <th><form class="form-group text-center" method="post" action="student_data4"><input style="width:100px;" class="btn btn-success form-group" type="submit" name="B4" value="Civil"/></form></th>
                <th><form class="form-group text-center" method="post" action="student_data5"><input style="width:100px;" class="btn btn-success form-group" type="submit" name="B5" value="Bio Tech."/></form></th>
            </tr>
    </table>
{% endblock %}