{% extends 'AdminHomeTemp.html' %}
{% block m1 %}
    <table class="table table-bordered table-hover mt-2">
        <tr class="bg-primary">
            <th colspan="7" class="text-center">Student Fees Record</th>
        </tr>
        <tr>
            <th>Name</th>
            <th>Roll No.</th>
            <th>Branch</th>
            <th>Year</th>
            <th>Address</th>
            <th>Mobile No.</th>
            <th>Email</th>
        </tr>
        {% if data %}
        {% for k in data %}
        <tr>
            <td>{{k[0]}}</td>
            <td>{{k[1]}}</td>
            <td>{{k[2]}}</td>
            <td>{{k[3]}}</td>
            <td>{{k[4]}}</td>
            <td>{{k[5]}}</td>
            <td>{{k[6]}}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
{% if msg %}
    {{msg}}
{% endif %}

{% endblock %}
