{% extends 'StudentHomeTemp.html' %}

{% block m1 %}
<form class="form-group">
<table class="table">
    <tr>
        <h1 style="text-shadow:2px 2px 2px green; word-spacing:2px; letter-spacing:3px;" class="text-primary form-group mt-2"><center>Student Home</center></h1>
    </tr>

    <tr>
        <h3><a style="text-decoration:none;" class="text-white btn form-group form-control bg-success" href="studentprofile">Student Profile</a></h3>
    </tr>
    <tr>
        <h3><a style="text-decoration:none;" class="text-white btn form-group form-control bg-success" href="uploadquestionstudent">Upload questions</a></h3>
    </tr>
    <tr>
        <h3><a style="text-decoration:none;" class="text-white btn form-group form-control bg-success" href="uploadsolution">Solve Questions</a></h3>
    </tr>
    <tr>
        <h3><a style="text-decoration:none;" class="text-white btn form-group form-control bg-success" href="payfees">Pay Fees</a></h3>
    </tr>
    <tr>
        <h3><a style="text-decoration:none;" class="text-white btn form-group form-control bg-success" href="student_change_password">Change Password</a></h3>
    </tr>
    <tr>
        <h3><a style="text-decoration:none;" class="text-white btn form-group form-control bg-success" href="logout">Logout</a></h3>
    </tr>
</table>
    </form>
{% endblock %}